<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
      
    <br>
  <!-- <h3> <%= title %></h3>-->
    <br><br><br>
  </div>

<div class="jumbotron">
    <img src="images/albert.jpg" alt="profilepic">
    <br>
    

      <h4> Hi, <br>My name is Albert Obcena <br> Software Engineering Student at Centennial College.</h4>

    
    </div>
  </div>
  

      
  </div>
</div>
    
  </div>
</div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>