<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<br>
  <h3>Welcome to the <%= title %></h3>
<br><br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive  img-thumbnail" src="images/lottery.jpg" style="width:400px;height:228px;" />
        <br /><br />
        <h5>CREATED LOTTERY ROLL PROGRAM IN JAVA</h5>
        
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/bug.jpg" style="width:400px;height:228px;" />
        <br /><br />
       <h5>CREATED BUG SMASHER GAME IN WEB DEVELOPMENT</h5>
        
      </div>
    </div>
    <br /> <br />
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/prime.jpg" style="width:400px;height:228px;" />
        <br /><br />
       
        <h5>CREATED A PRIME MINISTER PROFILE IN C#</h5>
        <br /><br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/hand.jpg" style="width:400px;height:228px;" />
        <br /><br />
         <h5>CREATED A SHIPPING AND BILLING ADDRESS USING HTML AND JAVASCRIPT</h5>
        
      </div>
    </div>
  

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>