<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<br>
  <h3>Welcome to the <%= title %></h3>
  <br><br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive  img-thumbnail" src="images/2.png" style="width:400px;height:228px;" />
        <br /><br />
     
        
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/1.png" style="width:400px;height:228px;" />
        <br /><br />
       
        
      </div>
    </div>
    <br /> <br />
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/3.png" style="width:400px;height:228px;" />
        <br /><br />
       
        
        <br /><br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/4.jpg" style="width:400px;height:228px;" />
        <br /><br />
        
        
      </div>
    
    </div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>