<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>
<br><br><br>
<!-- Main Content -->
<main class="container">

  <!--add boostrap table code-->

  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <h1><%=title %></h1>
      <a href="/contact-list/add" class="btn btn-primary" role="button">
      <i class ="fas fa-plus-circle"></i> Add a contact
<br>
      </a>
      <br><br>
      <table class="table table-bordered table-striped table-hover">
        <!--HEader row-->
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Contact Number</th>
          <th class="text-center">Email address</th>
          
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>

        <!--Repetable Templet row-->
        <% for (let count=0; count<ContactList.length; count++){%>
          <tr>
            <td class="text-centre "><%= ContactList[count].Name %></td>
            <td class="text-centre "><%= ContactList[count].ContactNumber %></td>
            <td class="text-centre "><%= ContactList[count].Email %></td>

            <td class="text-center col-1">
              <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
              <i class="fas fa-pencil-alt"></i> Edit</a>
          </td>
          <td class="text-center col-1">
              <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i> Delete</a>
          </td>
          </tr>
        <%}%>
      </table>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
